<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.menus">
		
		 <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
      <toolbar
            id="core.apploader.mainToolbar">
         <!--<command
               commandId="commands.BackHandler"
               icon="icons/Images.Icons.Back.ico"
               label="后退"
               style="push">
         </command>
         
         <command
               commandId="commands.HomeHandler"
               icon="icons/Images.Icons.Home.ico"
               label="主页"
               style="push">
         </command>

         <separator
               name="core.apploader.separator1"
               visible="true">
         </separator>
                  -->
                  
                  
         <command
               commandId="commands.NewHandler"
               icon="html/Images.New.png"
               id="commands.NewHandler"
               label="新建"
               mode="FORCE_TEXT"
               style="pulldown">
            <visibleWhen>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="core.apploader.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               icon="html/Images.Save.png"
               id="org.eclipse.ui.file.save"
               label="保存"
               mode="FORCE_TEXT"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.refresh"
               icon="html/Images.Refresh.png"
               id="org.eclipse.ui.file.refresh"
               label="刷新"
               mode="FORCE_TEXT"
               style="push">
         </command>
         <command
               commandId="commands.DeleteHandler"
               icon="html/Images.Delete.png"
               label="删除"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="core.apploader.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="core.apploader.separator2"
               visible="false">
         </separator>
         <command
               commandId="commands.QuickCenterHandler"
               icon="html/Images.QuickActions.png"
               label="快速操作"
               mnemonic="B"
               mode="FORCE_TEXT"
               style="pulldown">
            <visibleWhen>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="core.apploader.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="commands.ReportHandler"
               icon="html/Images.Reports.png"
               label="报表"
               mode="FORCE_TEXT"
               style="pulldown">
            <visibleWhen>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="core.apploader.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="commands.SearchCenterHandler"
               icon="html/Images.SearchCenter.png"
               label="搜索"
               mnemonic="B"
               mode="FORCE_TEXT"
               style="pulldown">
            <visibleWhen>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="core.apploader.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="commands.MyToolboxHandler"
               icon="html/Images.Toolbox.png"
               label="工具箱"
               mnemonic="B"
               mode="FORCE_TEXT"
               style="pulldown">
            <visibleWhen>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="core.apploader.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="commands.HelpHandler"
               icon="html/Images.Help.png"
               label="帮助"
               mnemonic="B"
               mode="FORCE_TEXT"
               style="pulldown">
         </command>
      </toolbar>
		</menuContribution>
		
		 <menuContribution
	         locationURI="menu:commands.NewHandler">
	      <dynamic
	            class="core.apploader.menu.busObMenu"
	            id="core.apploader.toolbar.newBusObs">
	      </dynamic>
	   </menuContribution>
   <menuContribution
         locationURI="menu:commands.QuickCenterHandler">
      <command
            commandId="commands.QuickCenterHandler"
            icon="html/Images.Icons.QuickActions.png"
            mnemonic="B"
            style="push">
      </command>
      <dynamic	class="core.apploader.tools.menu.AutoTaskDynMenu"
				id="core.apploader.tools.menu.AutoTaskDynMenu">
	  </dynamic>
	  <menu
         icon="html/Images.Icons.QuickAction.png"
         id="nearlyQuickAction"
         label="最近快速操作">
		 <dynamic	class="core.apploader.tools.menu.AutoTaskDynHistoryMenu"
					id="core.apploader.tools.menu.AutoTaskDynHistoryMenu">
	 	 </dynamic>  	
	  </menu>
   </menuContribution>
   <menuContribution
         locationURI="menu:commands.SearchCenterHandler">
      <command
            commandId="commands.SearchCenterHandler"
            mnemonic="B"
            icon="html/Images.Icons.SearchGroups.png"		   
            style="push">
      </command>
      <command
            commandId="commands.CreateSearchHandler"
            mnemonic="B"
            icon="html/Images.Icons.NewSearch.png"
            style="push">
      </command>
      <dynamic	class="core.apploader.tools.menu.SearchDynMenu"
				id="core.apploader.tools.menu.SearchDynMenu">
	  </dynamic>
      <menu
         icon="html/Images.Icons.Search.png"
         id="nearlySearch"
         label="最近搜索">
		 <dynamic	class="core.apploader.tools.menu.SearchDynHistoryMenu"
					id="core.apploader.tools.menu.SearchDynHistoryMenu">
	 	 </dynamic>  	
	  </menu>
   </menuContribution>
   <menuContribution
         locationURI="menu:commands.ReportHandler">
      <command
            commandId="commands.ReportHandler"
            style="push"
            icon="html/Images.Report.png">
      </command>
      <dynamic	class="core.apploader.tools.menu.ReportDynMenu"
				id="core.apploader.tools.menu.ReportDynMenu">
	  </dynamic> 
	  <menu
         icon="html/Images.Icons.Report.png"
         id="nearlyReport"
         label="最近的报表">
		 <dynamic	class="core.apploader.tools.menu.ReportDynHistoryMenu"
					id="core.apploader.tools.menu.ReportDynHistoryMenu">
	 	 </dynamic>  	
	  </menu> 
   </menuContribution>
  
   <menuContribution
         locationURI="menu:commands.MyToolboxHandler">
      <menu
      		icon="html/Images.BusinessProcess.png"
            id="toolbarBusObMenu"
            label="业务规则">
         <command
               commandId="commands.BusObCenterHandler"
               icon="html/Images.BusinessProcess.png"
               mnemonic="B"
               style="push">
         </command>
         <command
               commandId="commands.TriggerCenterHandler"
               icon="html/Images.BusinessProcess.png"
               mnemonic="T"
               style="push">
         </command>
      </menu>
      <menu
            id="ToolbarDashboardMenu"
            icon="html/Images.Icons.Column.png"
            label="仪表盘">
         <command
               commandId="commands.DashBoardCenterHandler"
               icon="html/Images.Icons.Column.png"
               style="push">
         </command>
         <command
               commandId="commands.DashBoardComponentCenterHandler"
               icon="html/Images.Icons.ComponentYellow.png"
               style="push">
         </command>
         <menu
	         id="nearlyDashboard"
	         label="最近的仪表盘"
	         icon="html/Images.Icons.Column.png">
			 <dynamic	class="core.apploader.tools.menu.DashboardDynHistoryMenu"
						id="core.apploader.tools.menu.DashboardDynHistoryMenu">
	 		 </dynamic>  	
	  	</menu>
      </menu>
      <command
              commandId="commands.DocumentsCenterHandler"
              icon="html/Images.Icons.TemplateDoc.png"
              style="push">
      </command>
      <command
              commandId="commands.TreeBrowserCenterHandler"
              icon="html/Images.Icons.TemplateTreeDoc.png"
              style="push">
      </command>
      <command
               commandId="commands.ChangePassword"
               icon="html/Images.Icons.SecuritySettings.png"
               style="push">
      </command>
      <command
               commandId="commands.FindBusObHandler"
               icon="html/Images.Icons.SquareGreen.png"
               style="push">
      </command>
      <command
               commandId="commands.BusObMaintainHandler"
               icon="html/Images.Icons.BusinessObjectMaintenance.png"
               style="push">
      </command>
      <command
            commandId="commands.ServerSettingHandler"
            label="服务器设置"
            style="push">
      </command>
   </menuContribution>
   <menuContribution
         locationURI="menu:commands.HelpHandler">
      <command
            commandId="org.eclipse.ui.cheatsheets.openCheatSheet"
            label="CheatSheet"
            style="push">
      </command>
      <command
            commandId="org.eclipse.ui.perspectives.showPerspective"
            style="push">
      </command>
      <command
            commandId="org.eclipse.ui.help.helpContents"
            style="push">
      </command>
   </menuContribution>
	</extension>
	   
     
	
	<!-- 搜索Menu -->
	
	<!-- 搜索Command -->
	


	
   <extension
         point="org.eclipse.ui.commands">
		<command
        defaultHandler="core.apploader.commands.NewFormHandler"
        id="commands.NewHandler"
        name="新建">
      	</command>
      	<command
            defaultHandler="core.apploader.commands.CopyHandler"
            id="commands.CopyHandler"
            name="复制">
      	</command>
      	
      	<command
            defaultHandler="core.apploader.commands.QuickCenterHandler"
            id="commands.QuickCenterHandler"
            name="快速操作中心...">
      	</command>
      	
      	<command
            defaultHandler="core.apploader.commands.BusObCenterHandler"
            id="commands.BusObCenterHandler"
            name="业务规则中心...">
      	</command>
      	
      	<command
            defaultHandler="core.apploader.commands.TriggerCenterHandler"
            id="commands.TriggerCenterHandler"
            name="触发器中心...">
      	</command>
      	
      	<command
            defaultHandler="core.apploader.commands.DashBoardCenterHandler"
            id="commands.DashBoardCenterHandler"
            name="仪表盘中心...">
      	</command>
      	
      	<command
            defaultHandler="core.apploader.commands.DashBoardPartCenterHandler"
            id="commands.DashBoardComponentCenterHandler"
            name="仪表盘部件中心...">
      	</command>
      	
      	<command
              id="commands.DocumentsCenterHandler"
              defaultHandler="core.apploader.commands.DocumentsCenterHandler"
              name="文档中心...">
        </command>
        
        <command
              id="commands.TreeBrowserCenterHandler"
              defaultHandler="core.apploader.commands.TreeBrowserCenterHandler"
              name="对象树视图中心...">
        </command>
        
        <command
            defaultHandler="core.apploader.commands.FindBusObHandler"
            id="commands.FindBusObHandler"
            name="查找业务对象">
      	</command>
      	
      	<command
            defaultHandler="core.apploader.commands.BusObMaintainHandler"
            id="commands.BusObMaintainHandler"
            name="业务对象维护">
      	</command>
      	
      	<command
            defaultHandler="core.apploader.commands.ChangePasswordHandler"
            id="commands.ChangePassword"
            name="更改密码">
      	</command>
      	
      	
      	<command
            defaultHandler="core.apploader.commands.RefreshHandler"
            id="commands.RefreshCommand"
            name="刷新">
      	</command>
      	
      	<command
            defaultHandler="core.apploader.commands.ExitHandler"
            id="commands.Exit"
            name="退出">
      	</command>
       <command
             defaultHandler="core.apploader.commands.BackHandler"
             id="commands.BackHandler"
             name="后退">
       </command>
       <command
             defaultHandler="core.apploader.commands.HomeHandler"
             id="commands.HomeHandler"
             name="主页">
       </command>
       <command
             defaultHandler="core.apploader.commands.AddObjsHandler"
             id="commands.AddObjsHandler"
             name="新建">
       </command>
       <command
             defaultHandler="core.apploader.commands.SaveHandler"
             id="commands.SaveHandler"
             name="保存">
       </command>
       <command
             defaultHandler="core.apploader.commands.DeleteHandler"
             id="commands.DeleteHandler"
             name="删除">
       </command>
       <command
             defaultHandler="core.apploader.commands.CutHandler"
             id="core.apploader.CutHandler"
             name="剪切">
       </command>
       <command
             defaultHandler="core.apploader.commands.PasteHandler"
             id="commands.PasteHandler"
             name="粘帖">
       </command>
       <command
             defaultHandler="core.apploader.commands.ReportHandler"
             id="commands.ReportHandler"
             name="报表中心">
       </command>
       <command
             defaultHandler="core.apploader.commands.ToolboxHandler"
             id="commands.MyToolboxHandler"
             name="工具箱">
       </command>
       <command
             defaultHandler="core.apploader.commands.HelpHandler"
             id="commands.HelpHandler"
             name="帮助">
       </command>
       <command
             defaultHandler="core.apploader.commands.AboutHandler"
             id="commands.AboutHandler"
             name="关于...">
       </command>
       <command
             defaultHandler="core.apploader.commands.SearchCenterHandler"
             id="commands.SearchCenterHandler"
             name="搜索中心">
       </command>
       <command
             defaultHandler="core.apploader.commands.CreateSearchHandler"
             id="commands.CreateSearchHandler"
             name="新建搜索">
       </command>
       <command
             defaultHandler="core.apploader.commands.ServerSettingHandler"
             id="commands.ServerSettingHandler"
             name="服务器设置">
       </command>
	</extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="core.webloader.EntryPoint"
            id="core.webloader.EntryPoint"
            parameter="webloader">
      </entrypoint>
      <entrypoint
            class="core.webloader.ServerConfig"
            id="core.webloader.ServerConfig"
            parameter="connectionconfig">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="html/body.html"
            defaultEntrypointId="core.webloader.EntryPoint"
            favicon="html/gwlogo.png"
            id="core.webloader.branding"
            servletName="webloader"
            themeId="org.eclipse.rap.design.example.business.theme"
            title="国网三线技术支持系统">
      </branding>
      <branding
            body="html/body.html"
            defaultEntrypointId="core.webloader.ServerConfig"
            favicon="html/Core.ico"
            id="core.webloader.connectionconfig"
            servletName="connectionconfig"
            themeId="org.eclipse.rap.design.example.business.theme"
            title="Connection Config">
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <themeContribution
            file="theme/theme.css"
            themeId="org.eclipse.rap.design.example.business.theme">
      </themeContribution>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/loading.gif"
            base-name="/html/loading.gif">
      </resource>
      <resource
            alias="/editerBrowser"
            base-name="/editorBrowser">
      </resource>
      <resource
            alias="/editerBrowser/editerBrowser.html"
            base-name="/editorBrowser/newEditor.html">
      </resource>
      <resource
            alias="/html"
            base-name="/html">
      </resource>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="ITSM">
         <property
               name="appName"
               value="ITSM">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="core.webloader.RedirectServlet">
      </servlet>
   </extension>
</plugin>
